@font-face {
    font-family: 'Material Icons';
    src: url('../assets/fonts/MaterialSymbolsOutlined-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/Roboto_Condensed-Regular.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#titlebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 31px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    color: #675d5d;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 10pt;
    font-weight: 600;
    background: #292929;
    border-bottom: solid 3px #9b9b9b;
    z-index: 99;
}

.icon {
    font-family: 'Material Icons';
}


#titlebar-content {
    box-sizing: border-box;
    -webkit-app-region: none;
    display: flex;
}

div#category-select {
    width: 135px;
    height: 31px;
    box-sizing: border-box;
    background: #555;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div#category-select-options {
    position: absolute;
    background: #555;
    top: 40px;
    left: 10px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px 7px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

span#category-select-arrow {
    font-size: 14pt;
    position: absolute;
    transform: translate(50px, -1px);
}

.category-select-option {
    padding: 6px;
    margin: 3px 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.category-select-option:hover {
    background: #767676;
}

.hide {
    display: none !important;
}

div#view-list-wrapper {
    color: #d0d0d0;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
}

.view-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 16px;
    cursor: pointer;
}

.view-list-item-active, .view-list-item:hover {
    background: #424242;
}

div#view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

button.view-button {
    min-height: 35px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #fff;
    background: #555;
    border: none;
    cursor: pointer;
    padding: 0 25px;
    outline: none;
}

h1.view-header {
    font-size: 17pt;
    font-family: 'Roboto';
    color: #5d5d5d;
    font-weight: 100;
    margin-bottom: 1.1em;
    user-select: none;
}

.view-comment {
    font-family: 'Roboto';
    font-size: 11pt;
    margin-bottom: 30px;
    width: 600px;
    color: #000;
    line-height: 25px;
}

span.text-highlight {
    background: #555555;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.view-double-gallery {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

img.view-gallery-picture {
    width: 300px;
}

.view-gallery-entry {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.view-gallery-header {
    font-size: 14pt;
    font-family: 'Roboto';
    color: #8f8f8f;
    font-weight: 100;
    margin-bottom: 1.1em;
}

button.view-gallery-button {
    margin: 10px;
    min-height: 35px;
    width: 86%;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #626262;
    background: #fff;
    border: solid 2px #767676;
    cursor: pointer;
    padding: 0 25px;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

.edit-view-row {
    width: 550px;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-size: 11pt;
    border: solid 4px #c3c3c3;
    border-radius: 10px;
    margin: 10px;
    padding: 3px 20px;
    cursor: pointer;
    color: #333;
}

.edit-view-profile-image-wrapper {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px 0px #c3c3c3;
}

img.edit-view-profile {
    width: 100%;
    height: auto;
}

.edit-view-person-ID {
    font-size: 9pt;
    margin: 5px;
    color: #7e7e7e;
}

.edit-view-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-view-person-name {
    background: #606060;
    color: white;
    padding: 10px;
}

.edit-view-person-area {
    background: #ccc;
    padding: 10px;
    border-radius: 7px;
}

.edit-view-row.edit-view-not-in-field {
    justify-content: flex-start;
    border-color: #ffceab;
}

.edit-view-row.edit-view-not-in-field div {
    margin-right: 10px;
}

.edit-view-row.edit-view-not-in-field .edit-view-person-name {
    background: #ffbc8d;
}

button.edit-view-pagination-left, button.edit-view-pagination-right {
    font-family: 'Material Icons';
    padding: 5px 20px;
    font-size: 14pt;
    border: none;
    background: #666666;
    color: white;
    cursor: pointer;
}

button.edit-view-pagination-inactive {
    background: #c0c0c0;
    cursor: default;
}

.edit-view-pagination {
    width: 594px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.titlebar-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.titlebar-details-back {
    font-family: 'Material Icons';
    position: absolute;
    left: 10px;
    font-size: 15pt;
    color: #fff;
    -webkit-app-region: none;
    cursor: pointer;
}

button {
    outline: none;
}

.edit-details-profile-image-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

img.edit-details-profile {
    width: 260px;
}

table.edit-details-table {
    width: 350px;
    font-family: 'Roboto';
    font-size: 11pt;
}

input.edit-details-table-value-input {
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    border: solid 1px #333;
    border-radius: 3px;
    padding: 7px;
    font-family: 'Roboto' !important;
}

tr.edit-details-table-row {
    height: 40px;
}

button.edit-details-profile-button {
    margin: 10px;
    min-height: 35px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #626262;
    background: #fff;
    border: solid 2px #767676;
    cursor: pointer;
    padding: 0 25px;
    outline: none;
}

.edit-view-address-postal-code {
    min-width: 75px;
    text-align: center;
}

.edit-view-address-wrapper {
    padding: 14px;
}

.edit-view-address-row {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 11pt;
    border: solid 4px #c3c3c3;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 20px;
    cursor: pointer;
    color: #333;
}

.edit-view-address-japanese {
    color: #7e7e7e;
}

.edit-view-address-english {
    margin-bottom: 3px;
}

.edit-view-address-upper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-view-address-areas-wrapper {
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-view-address-area {
    background: #606060;
    color: white;
    padding: 10px;
    margin: 5px;
}

.edit-details-controls-wrapper {
    width: 594px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

input.edit-details-search-input {
    border: none;
    border-bottom: solid 2px #ccc;
    outline: none;
    font-family: 'Roboto';
    font-size: 11pt;
    padding: 5px 8px;
}

button.edit-details-add-button {
    font-family: 'Material Icons';
    width: 59px;
    padding: 5px;
    background: #4a4a4a;
    color: white;
    font-size: 12pt;
    border: none;
    cursor: pointer;
}

button.edit-add-submit-button {
    margin: 10px;
    min-height: 35px;
    width: 350px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #626262;
    background: #fff;
    border: solid 2px #767676;
    cursor: pointer;
    padding: 0 25px;
    outline: none;
}

.edit-add-areas-list {
    width: 100%;
    font-family: 'Roboto';
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* margin: 13px; */
}

.edit-add-areas-list-element {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    padding:  10px;
    margin: 5px;
    border: solid 2px #eee;
}

.edit-add-areas-wrapper {
    width: 350px;
    margin: 10px;
}

button.edit-add-areas-list-delete {
    font-family: 'Material Icons';
    background: #d8d8d8;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.edit-add-areas-list-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-add-areas-select-wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    box-sizing: border-box;
}

select.edit-add-areas-select {
    height: 100%;
    width: 100%;
    margin-right: 10px;
    font-family: 'Roboto';
    padding: 10px;
}

button.edit-add-areas-select-button {
    height: 40px;
    width: 40px;
    font-family: 'Material Icons';
    font-size: 10pt;
    color: #ffffff;
    border: none;
    background: #333;
    cursor: pointer;
    outline: none;
}

button.edit-view-delete-button {
    height: 40px;
    width: 350px;
    font-family: 'Roboto';
    font-size: 10pt;
    color: #ffffff;
    border: none;
    background: #ff7d7d;
    cursor: pointer;
    margin-top: 10px;
    outline: none;
}

div#status-message {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #ffffff;
    color: #646464;
    font-family: 'Roboto';
    font-size: 11pt;
    padding: 13px 21px;
    cursor: default;
    border: solid 2px #adadad;
}